<form name="form1" method="post" enctype="multipart/form-data" action="api/image">
    <div>
        <label for="caption">Image category (used to recognize images in the same category)</label>
        <input name="tag" type="text" />
    </div>
    <div>
        <label for="image1">Image File</label>
        <input name="image1" type="file" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

<form name="form2" method="post" enctype="multipart/form-data" action="api/train">
        <div>
        <input type="submit" value="Train model" />
    </div>
</form>